.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

@-webkit-keyframes drop {
  0% {
    top: 5px; }
  30% {
    top: 10px; }
  100% {
    top: 22px; } }

@keyframes drop {
  0% {
    top: 5px; }
  50% {
    top: 10px; }
  100% {
    top: 5px; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  text-decoration: none; }

body {
  /* background-color: $backgroundColor;*/
  color: #363636;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 1.5; }

h1 {
  color: #f1faee;
  font-family: 'Lora', serif;
  font-size: 60px; }
  h1 a {
    color: inherit; }

h2 {
  padding: 60px 0 60px;
  color: #003366;
  font-family: 'Lora', serif;
  font-size: 48px; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 10; }
  .fixed-menu .container {
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .fixed-menu .container nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
      .fixed-menu .container nav ul li {
        margin: 0 15px; }
        .fixed-menu .container nav ul li a {
          color: #f1faee;
          transition: all 0.3s;
          -webkit-transition: all 0.3s; }
          .fixed-menu .container nav ul li a.special {
            color: #e63946; }
            .fixed-menu .container nav ul li a.special:hover, .fixed-menu .container nav ul li a.special:focus {
              color: #7c010a;
              text-decoration: underline; }
          .fixed-menu .container nav ul li a:hover, .fixed-menu .container nav ul li a:focus {
            color: #a8dadc;
            text-decoration: underline;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }
  .fixed-menu.scrolled {
    background-color: rgba(0, 51, 102, 0.7);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .fixed-menu.scrolled a:hover, .fixed-menu.scrolled a:focus {
      color: #e63946;
      text-decoration: underline;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: #003366;
  background-image: linear-gradient(rgba(0, 51, 102, 0.4), rgba(0, 51, 102, 0.4)), url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header .welcome {
    width: 1170px;
    height: 250px;
    z-index: 15; }
    header .welcome p {
      margin-left: 10px;
      color: #e63946;
      font-size: 28px;
      text-transform: uppercase; }
    header .welcome > a {
      top: auto;
      margin-left: 10px;
      margin-top: 30px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 60px;
      width: 200px;
      border: 3px solid #f1faee;
      color: #f1faee;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
      header .welcome > a:hover, header .welcome > a:focus {
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
    header .welcome .fixed {
      position: fixed;
      top: 10px;
      margin-top: 0;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
      header .welcome .fixed h1 {
        font-size: 34px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
      header .welcome .fixed p {
        margin: -5px 2px;
        font-size: 16px;
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
    header .welcome .fixed + .projects {
      opacity: 0; }
  header .mouse-icon {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 80px;
    border: 2px solid #000;
    border-radius: 16px;
    height: 40px;
    width: 24px;
    display: block;
    border-color: #f1faee;
    z-index: 10;
    opacity: 0.7;
    background: transparent;
    transform: scale(1.5);
    cursor: pointer; }
    header .mouse-icon:hover, header .mouse-icon:focus {
      background-color: rgba(255, 255, 255, 0.3); }
  header .mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-name: drop;
    animation-name: drop;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running; }
  header .mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background-color: #f1faee;
    width: 3px;
    height: 8px;
    top: 4px;
    margin-left: auto;
    margin-right: auto; }

.about {
  height: calc(100vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-box;
  display: flex; }
  .about figure {
    height: inherit;
    width: 470px;
    background-color: #003366; }
  .about section {
    margin: 0 10px 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .about section p {
      margin-left: 130px; }
    .about section footer {
      -ms-flex-item-align: end;
      align-self: flex-end; }
      .about section footer a {
        margin-top: 60px;
        margin-left: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 170px;
        height: 60px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        .about section footer a:hover, .about section footer a:focus {
          -webkit-transform: scale(1.05);
          transform: scale(1.05);
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }
      .about section footer a:first-child {
        background-color: #a8dadc;
        color: #003366; }
        .about section footer a:first-child:hover, .about section footer a:first-child:focus {
          background-color: #003366;
          color: #f1faee;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }
      .about section footer a:last-child {
        background-color: #e63946;
        color: #f1faee; }
        .about section footer a:last-child:hover, .about section footer a:last-child:focus {
          background-color: #7c010a;
          color: #f1faee;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }

.skills {
  padding-bottom: 60px;
  height: calc(100vh - 90px);
  background-image: linear-gradient(rgba(168, 218, 220, 0.45), rgba(168, 218, 220, 0.45)), url("../img/backgroundskills.png");
  background-blend-mode: overlay;
  background-color: #d0e7e8;
  background-size: cover;
  background-position: center center; }
  .skills h2 {
    padding: 40px 0;
    margin: 0 auto;
    display: block;
    max-width: 1170px; }
  .skills .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .skills .column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .skills .column h3 {
      padding-bottom: 20px;
      padding-left: 60px;
      color: #003366;
      font-size: 30px; }
    .skills .column > ul {
      margin-left: 100px; }
    .skills .column > ul > li {
      color: #003366;
      font-weight: bold; }
      .skills .column > ul > li:before {
        content: '\2015';
        color: #e63946;
        font-size: 30px;
        margin-right: 7px; }
      .skills .column > ul > li span {
        color: #363636;
        font-size: 18px;
        font-weight: normal; }
    .skills .column > ul > li > ul {
      color: #363636;
      font-size: 18px;
      font-weight: normal;
      margin-left: 60px;
      padding-bottom: 20px; }
      .skills .column > ul > li > ul > li:before {
        content: " - "; }

.portfolio {
  margin-bottom: 60px;
  width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto; }
  .portfolio .aboutProjects {
    padding: 30px;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3; }
    .portfolio .aboutProjects h2 {
      padding: 10px 0;
      text-align: center; }
    .portfolio .aboutProjects p {
      font-size: 18px; }
  .portfolio .project {
    position: relative;
    display: flex;
    overflow: hidden; }
    .portfolio .project .image-wrapper {
      display: flex; }
    .portfolio .project:after {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      content: '\A';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    .portfolio .project:hover:after, .portfolio .project:focus:after {
      background-color: rgba(0, 51, 102, 0.8);
      background-image: url("../img/icons/magnifier.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    .portfolio .project:nth-child(even):hover:after, .portfolio .project:nth-child(even):focus:after {
      background-color: rgba(230, 57, 70, 0.6);
      background-image: url("../img/icons/magnifier.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    .portfolio .project img {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain; }

.zoomed {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(69, 123, 157, 0.4);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 1s;
  -webkit-transition: all 1s;
  display: none; }
  .zoomed button {
    padding: 20px;
    width: 50px;
    height: 80px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    color: #f1faee;
    background-color: #003366; }
    .zoomed button:hover, .zoomed button:focus {
      background-color: #7c010a;
      transition: all 0.2s;
      -webkit-transition: all 0.2s; }
  .zoomed .zoomed-project {
    padding: 10px 0 30px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    height: 95%;
    width: 900px; }
    .zoomed .zoomed-project img {
      max-width: 840px; }
    .zoomed .zoomed-project button {
      position: absolute;
      top: 0;
      padding: 20px;
      width: 80px;
      height: 80px;
      font-size: 30px;
      cursor: pointer;
      transition: all 0.2s;
      -webkit-transition: all 0.2s; }
      .zoomed .zoomed-project button.close {
        -ms-flex-item-align: end;
        align-self: flex-end;
        color: #f1faee;
        background-color: #003366; }
        .zoomed .zoomed-project button.close:hover, .zoomed .zoomed-project button.close:focus {
          background-color: #7c010a;
          transition: all 0.2s;
          -webkit-transition: all 0.2s; }
      .zoomed .zoomed-project button.back {
        display: none;
        -ms-flex-item-align: start;
        align-self: flex-start;
        color: #f1faee;
        background-color: #e63946;
        transition: all 0.2s;
        -webkit-transition: all 0.2s; }
        .zoomed .zoomed-project button.back:hover, .zoomed .zoomed-project button.back:focus {
          background-color: #003366;
          transition: all 0.2s;
          -webkit-transition: all 0.2s; }
    .zoomed .zoomed-project .details {
      margin-top: 10px;
      display: flex; }
      .zoomed .zoomed-project .details .description {
        margin: 0 auto;
        flex: 3;
        position: relative;
        font-size: 18px;
        padding: 0 30px; }
        .zoomed .zoomed-project .details .description h3 {
          margin-bottom: 5px;
          color: #003366;
          font-size: 36px;
          font-weight: 300;
          /*light*/ }
        .zoomed .zoomed-project .details .description .date {
          margin-bottom: 5px;
          padding-left: 35px;
          font-size: 16px;
          font-weight: 300;
          /*italic*/
          background-image: url("../img/icons/calendar.svg");
          background-repeat: no-repeat;
          background-size: contain; }
        .zoomed .zoomed-project .details .description p {
          font-size: 16px;
          white-space: break-word; }
    .zoomed .zoomed-project ul {
      padding: 0 30px;
      margin-bottom: 30px;
      flex: 1;
      color: #003366;
      font-weight: light;
      font-size: 22px;
      border-left: 3px solid #003366; }
      .zoomed .zoomed-project ul li {
        color: #363636;
        font-weight: normal;
        font-size: 16px; }
        .zoomed .zoomed-project ul li:before {
          content: '\2015';
          color: #e63946;
          font-size: 20px;
          margin-right: 7px; }
    .zoomed .zoomed-project .view {
      padding-left: 60px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: flex-start;
      width: 100%; }
      .zoomed .zoomed-project .view a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100px;
        height: 50px;
        font-size: 24px;
        text-transform: uppercase;
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
        .zoomed .zoomed-project .view a.live {
          color: #003366;
          border: 1px solid #003366; }
          .zoomed .zoomed-project .view a.live:hover, .zoomed .zoomed-project .view a.live:focus {
            background-color: #003366;
            color: #f1faee;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }
        .zoomed .zoomed-project .view a.code {
          margin-left: 30px;
          color: #e63946;
          border: 1px solid #e63946; }
          .zoomed .zoomed-project .view a.code:hover, .zoomed .zoomed-project .view a.code:focus {
            background-color: #e63946;
            color: #f1faee;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }

.contact {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .contact h2 {
    padding-top: 30px;
    padding-bottom: 10px; }
  .contact .lead {
    font-size: 26px;
    padding-bottom: 10px; }
  .contact p {
    font-size: 22px;
    padding-top: 5px; }
  .contact a {
    color: #e63946;
    font-weight: bold;
    transition: all 0.3s;
    -webkit-transition: all 0.3s; }
    .contact a:hover, .contact a:focus {
      color: #7c010a;
      text-decoration: underline;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
  .contact .contact-form {
    padding-right: 100px; }
  .contact form {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact form p {
      margin-bottom: 30px;
      -ms-flex-item-align: end;
      align-self: flex-end;
      font-size: 20px; }
    .contact form label {
      margin-top: 15px;
      width: 70px;
      text-align: right; }
      .contact form label span {
        margin-top: -5px; }
    .contact form input, .contact form textarea {
      margin-left: 15px;
      padding: 15px;
      width: 500px;
      background-color: #a8dadc;
      outline: 1px solid #a8dadc;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
      .contact form input:hover, .contact form input:focus, .contact form textarea:hover, .contact form textarea:focus {
        outline: 1px solid #003366;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
    .contact form input {
      height: 60px; }
    .contact form textarea {
      padding-top: 5px;
      vertical-align: top;
      height: 180px; }
    .contact form button {
      height: 60px;
      width: 230px;
      background-color: #e63946;
      color: #f1faee;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
      .contact form button:hover, .contact form button:focus {
        background-color: #7c010a;
        color: #f1faee;
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }

.links {
  padding-left: 100px;
  border-left: 6px solid #003366; }
  .links li {
    margin: 30px 0; }
    .links li a {
      color: #003366;
      font-size: 24px;
      font-weight: normal;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 60px; }
      .links li a:hover, .links li a:focus {
        color: #003366;
        text-decoration: underline; }
      .links li a.cv {
        background-image: url(../img/icons/cv.svg);
        color: #e63946;
        text-transform: uppercase; }
        .links li a.cv:hover, .links li a.cv:focus {
          color: #7c010a;
          text-decoration: underline; }
      .links li a.github {
        background-image: url(../img/icons/gh.svg); }
      .links li a.linkedin {
        background-image: url(../img/icons/li.svg); }
      .links li a.fb {
        background-image: url(../img/icons/fb.svg); }

body > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
  text-align: center;
  font-size: 18px;
  color: #f1faee;
  background-color: #003366; }
  body > footer span {
    padding: 0 5px;
    color: #e63946; }
