.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

@-webkit-keyframes drop {
  0% {
    top: 5px; }
  50% {
    top: 10px; }
  100% {
    top: 5px; } }

@keyframes drop {
  0% {
    top: 5px; }
  50% {
    top: 10px; }
  100% {
    top: 5px; } }

@-webkit-keyframes fadeRight {
  0% {
    right: -1000px; }
  100% {
    right: 0; } }

@-webkit-keyframes fadeInRight {
  0% {
    right: -1000px; }
  100% {
    right: 0; } }

@keyframes fadeInRight {
  0% {
    right: -500px; }
  100% {
    right: 0; } }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0;
  font-size: 100%;
  font: inherit;
  list-style: none;
  text-decoration: none; }

body {
  color: #363636;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  line-height: 1.5; }

h1 {
  color: #f1faee;
  font-family: 'Lora', serif;
  font-size: 60px; }
  h1 a {
    color: inherit; }
  @media only screen and (max-width: 1200px) {
    h1 {
      font-size: 46px; } }

h2 {
  padding: 3.2rem 0;
  color: #003366;
  font-family: 'Lora', serif;
  font-size: 48px; }
  @media only screen and (max-width: 1200px) {
    h2 {
      font-size: 44px; } }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.line {
  opacity: 0;
  margin-top: -2px;
  position: fixed;
  height: 8px;
  width: 20px;
  background-color: #e63946;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 99; }
  @media only screen and (max-width: 920px) {
    .line {
      display: none; } }

.fixed-menu {
  position: fixed;
  width: 100%;
  z-index: 15; }
  .fixed-menu .container {
    position: relative;
    height: 90px; }
    .fixed-menu .container .mobile-menu {
      position: absolute;
      width: 100%;
      height: inherit;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-beetween;
      -ms-flex-pack: space-beetween;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      /* Dropdown button */ }
      .fixed-menu .container .mobile-menu .mobile-logo {
        margin-top: calc(100vh - 170px);
        padding-left: 15px;
        transition: all 1s;
        -webkit-transition: all 1s; }
        .fixed-menu .container .mobile-menu .mobile-logo a {
          color: inherit; }
        .fixed-menu .container .mobile-menu .mobile-logo h1 {
          transition: all 0.3s;
          -webkit-transition: all 0.3s; }
        .fixed-menu .container .mobile-menu .mobile-logo p {
          margin-left: 10px;
          color: #e63946;
          font-size: 28px;
          text-transform: uppercase;
          transition: all 0.3s;
          -webkit-transition: all 0.3s; }
          @media only screen and (max-width: 1200px) {
            .fixed-menu .container .mobile-menu .mobile-logo p {
              margin-left: 0; } }
        .fixed-menu .container .mobile-menu .mobile-logo.fixed {
          top: 10px;
          margin-top: 0;
          transition: all 1s;
          -webkit-transition: all 1s; }
          .fixed-menu .container .mobile-menu .mobile-logo.fixed h1 {
            font-size: 34px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }
          .fixed-menu .container .mobile-menu .mobile-logo.fixed p {
            margin: -5px 2px;
            font-size: 16px;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }
      .fixed-menu .container .mobile-menu .toggler {
        width: 60px;
        height: 45px;
        margin-right: 15px;
        position: relative;
        -webkit-transform: rotate(0deg);
        transform: scale(0.8) rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        background: transparent;
        cursor: pointer;
        z-index: 50; }
        @media only screen and (min-width: 920px) {
          .fixed-menu .container .mobile-menu .toggler {
            display: none; } }
        .fixed-menu .container .mobile-menu .toggler:hover > *, .fixed-menu .container .mobile-menu .toggler:focus > * {
          background-color: #7c010a; }
        .fixed-menu .container .mobile-menu .toggler span {
          display: block;
          position: absolute;
          height: 5px;
          width: 100%;
          background-color: #e63946;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          transition: .25s ease-in-out; }
          .fixed-menu .container .mobile-menu .toggler span:nth-child(1) {
            top: 0px; }
          .fixed-menu .container .mobile-menu .toggler span:nth-child(2), .fixed-menu .container .mobile-menu .toggler span:nth-child(3) {
            top: 18px; }
          .fixed-menu .container .mobile-menu .toggler span:nth-child(4) {
            top: 36px; }
        .fixed-menu .container .mobile-menu .toggler.open span:nth-child(1) {
          top: 18px;
          width: 0%;
          left: 50%; }
        .fixed-menu .container .mobile-menu .toggler.open span:nth-child(2) {
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }
        .fixed-menu .container .mobile-menu .toggler.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .fixed-menu .container .mobile-menu .toggler.open span:nth-child(4) {
          top: 18px;
          width: 0%;
          left: 50%; }
    .fixed-menu .container nav.dropdown {
      position: absolute;
      right: 0;
      height: 100%;
      z-index: 30; }
      .fixed-menu .container nav.dropdown ul {
        height: inherit;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .fixed-menu .container nav.dropdown ul li {
          margin: 8px 15px 0;
          display: inline-block;
          height: 100%; }
          .fixed-menu .container nav.dropdown ul li a {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 100%;
            height: 100%;
            color: #f1faee;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }
            .fixed-menu .container nav.dropdown ul li a.special {
              color: #e63946; }
              .fixed-menu .container nav.dropdown ul li a.special:hover, .fixed-menu .container nav.dropdown ul li a.special:focus {
                color: #7c010a;
                text-decoration: underline; }
            .fixed-menu .container nav.dropdown ul li a:hover, .fixed-menu .container nav.dropdown ul li a:focus {
              color: #a8dadc;
              text-decoration: underline;
              transition: all 0.3s;
              -webkit-transition: all 0.3s; }
      @media only screen and (max-width: 920px) {
        .fixed-menu .container nav.dropdown {
          display: none; } }
      .fixed-menu .container nav.dropdown.dropped {
        position: fixed;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        right: 0;
        top: 0;
        width: 40%;
        background-color: #003366;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -webkit-animation-name: fadeInRight;
        animation-name: fadeInRight;
        -webkit-animation-duration: 0.5s;
        animation-duration: 0.5s; }
        .fixed-menu .container nav.dropdown.dropped ul {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; }
          .fixed-menu .container nav.dropdown.dropped ul li {
            width: 100%;
            height: auto;
            text-transform: uppercase; }
            .fixed-menu .container nav.dropdown.dropped ul li a {
              padding: 20px 40px;
              display: block;
              width: 100%;
              height: 100%; }
              .fixed-menu .container nav.dropdown.dropped ul li a.active {
                position: relative;
                background-color: #e63946;
                color: #003366;
                font-weight: bold; }
  .fixed-menu.scrolled {
    background-color: rgba(0, 51, 102, 0.7);
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s; }
    .fixed-menu.scrolled a:hover, .fixed-menu.scrolled a:focus {
      color: #e63946;
      text-decoration: underline;
      -webkit-transition: color 0.2s;
      transition: color 0.2s; }

header {
  /* position: relative;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: #003366;
  background-image: linear-gradient(rgba(0, 51, 102, 0.4), rgba(0, 51, 102, 0.4)), url("../img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  header canvas {
    position: absolute;
    top: 0;
    left: 0; }
  header .alt {
    position: absolute;
    top: 0;
    left: 0; }
  header .welcome {
    width: 1170px;
    padding-left: 10px; }
    header .welcome > a {
      top: auto;
      margin-left: 10px;
      margin-top: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 60px;
      width: 200px;
      border: 3px solid #f1faee;
      color: #f1faee;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
      header .welcome > a:hover, header .welcome > a:focus {
        background-color: rgba(255, 255, 255, 0.2);
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
  header .mouse-icon {
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: 80px;
    border: 2px solid #000;
    border-radius: 16px;
    height: 40px;
    width: 24px;
    display: block;
    border-color: #f1faee;
    z-index: 10;
    opacity: 0.7;
    background: transparent;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer; }
    header .mouse-icon:hover, header .mouse-icon:focus {
      background-color: rgba(255, 255, 255, 0.3); }
  header .mouse-icon .wheel {
    -webkit-animation-name: drop;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    -webkit-animation-name: drop;
    animation-name: drop;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
    animation-play-state: running; }
  header .mouse-icon .wheel {
    position: relative;
    border-radius: 10px;
    background-color: #f1faee;
    width: 3px;
    height: 8px;
    top: 4px;
    margin-left: auto;
    margin-right: auto; }

.about {
  height: calc(100vh - 90px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-box;
  display: flex; }
  @media screen and (min-aspect-ratio: 3 / 2) {
    .about {
      height: auto; } }
  @media only screen and (max-width: 1200px) {
    .about {
      height: auto; } }
  .about figure {
    height: inherit;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 470px;
    background-color: #003366;
    background-image: url("../img/placeholder.jpg");
    background-size: cover;
    background-position: center center; }
  .about section {
    margin: 0 10px 0 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media only screen and (max-width: 1200px) {
      .about section h2 {
        padding: 30px 0; } }
    .about section p {
      margin-left: 130px; }
      @media only screen and (max-width: 1200px) {
        .about section p {
          margin-left: 70px; } }
      @media only screen and (max-width: 768px) {
        .about section p {
          margin-left: 40px; } }
    .about section footer {
      -ms-flex-item-align: end;
      align-self: flex-end; }
      .about section footer a {
        margin: 3.5rem 0 3.5rem 2rem;
        margin-left: 2rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 170px;
        height: 60px;
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
        @media only screen and (max-width: 1200px) {
          .about section footer a {
            margin: 30px 15px; } }
      .about section footer a:first-child {
        background-color: #a8dadc;
        color: #003366; }
        .about section footer a:first-child:hover, .about section footer a:first-child:focus {
          background-color: #003366;
          color: #f1faee;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }
      .about section footer a:last-child {
        background-color: #e63946;
        color: #f1faee; }
        .about section footer a:last-child:hover, .about section footer a:last-child:focus {
          background-color: #7c010a;
          color: #f1faee;
          transition: all 0.5s;
          -webkit-transition: all 0.5s; }

.skills {
  padding-bottom: 3.2rem;
  height: calc(100vh - 90px);
  background-image: linear-gradient(rgba(168, 218, 220, 0.45), rgba(168, 218, 220, 0.45)), url("../img/backgroundskills.png");
  background-blend-mode: overlay;
  background-color: #d0e7e8;
  background-size: cover;
  background-position: center center; }
  @media screen and (min-aspect-ratio: 3 / 2) {
    .skills {
      height: auto; } }
  @media only screen and (max-width: 1200px) {
    .skills {
      height: auto; } }
  .skills h2 {
    padding: 1.5rem 0;
    margin: 0 auto;
    display: block;
    max-width: 1170px; }
    @media only screen and (max-width: 1200px) {
      .skills h2 {
        margin-left: 15px; } }
  .skills .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .skills .column {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    .skills .column h3 {
      padding-bottom: 10px;
      padding-left: 60px;
      color: #003366;
      font-size: 1.8rem; }
      @media only screen and (max-width: 920px) {
        .skills .column h3 {
          font-size: 26px;
          padding-left: 40px; } }
    .skills .column > ul {
      margin-left: 100px; }
      @media only screen and (max-width: 920px) {
        .skills .column > ul {
          margin-left: 60px; } }
    .skills .column > ul > li {
      color: #003366;
      font-weight: bold; }
      .skills .column > ul > li:before {
        content: '\2015';
        color: #e63946;
        font-size: 30px;
        margin-right: 7px; }
      .skills .column > ul > li span {
        color: #363636;
        font-size: 18px;
        font-weight: normal; }
    .skills .column > ul > li > ul {
      color: #363636;
      font-size: 18px;
      font-weight: normal;
      margin-left: 60px;
      padding-bottom: 20px; }
      @media only screen and (max-width: 768px) {
        .skills .column > ul > li > ul {
          margin-left: 20px;
          word-wrap: break-word; } }
      .skills .column > ul > li > ul > li:before {
        content: " - "; }

.portfolio {
  margin-bottom: 60px;
  max-width: 1170px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr; }
  @media only screen and (max-width: 920px) {
    .portfolio {
      width: 100%;
      -ms-grid-columns: minmax(250px, 1fr) [auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); } }
  .portfolio .aboutProjects {
    padding: 30px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2; }
    @media only screen and (max-width: 920px) {
      .portfolio .aboutProjects {
        grid-column: 1 / -1; } }
    .portfolio .aboutProjects h2 {
      padding: 10px 0;
      text-align: center; }
    .portfolio .aboutProjects p {
      font-size: 18px; }
  .portfolio .project {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s; }
    .portfolio .project .image-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      overflow: hidden; }
    .portfolio .project:after {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center center;
      content: '\A';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    .portfolio .project:hover:after, .portfolio .project:focus:after {
      background-color: rgba(0, 51, 102, 0.8);
      background-image: url("../img/icons/magnifier.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    .portfolio .project:nth-child(even):hover:after, .portfolio .project:nth-child(even):focus:after {
      background-color: rgba(230, 57, 70, 0.6);
      background-image: url("../img/icons/magnifier.svg");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 20%;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    .portfolio .project img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
      .portfolio .project img.brand {
        height: 310px; }
        @media only screen and (max-width: 920px) {
          .portfolio .project img.brand {
            height: 100%; } }

.zoomed {
  position: fixed;
  padding: 60px;
  width: 100%;
  height: 100vh;
  background-color: rgba(69, 123, 157, 0.4);
  z-index: 1000;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: none; }
  .zoomed button {
    padding: 20px;
    width: 50px;
    height: 80px;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    color: #f1faee;
    background-color: #003366; }
    .zoomed button:hover, .zoomed button:focus {
      background-color: #7c010a;
      transition: all 0.2s;
      -webkit-transition: all 0.2s; }
  .zoomed .zoomed-project {
    padding: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #ffffff;
    overflow: hidden;
    max-height: 95vh; }
    .zoomed .zoomed-project img {
      max-width: 80%;
      height: auto;
      cursor: pointer; }
      @media screen and (min-aspect-ratio: 3 / 2) {
        .zoomed .zoomed-project img {
          max-width: 40%; } }
      .zoomed .zoomed-project img.clicked {
        max-width: 100%; }
        @media screen and (min-aspect-ratio: 3 / 2) {
          .zoomed .zoomed-project img.clicked {
            max-width: 70%; } }
    .zoomed .zoomed-project button {
      position: absolute;
      top: 0;
      padding: 20px;
      width: 80px;
      height: 80px;
      font-size: 30px;
      cursor: pointer;
      transition: all 0.2s;
      -webkit-transition: all 0.2s; }
      .zoomed .zoomed-project button.close {
        right: 0;
        color: #f1faee;
        background-color: #003366; }
        .zoomed .zoomed-project button.close:hover, .zoomed .zoomed-project button.close:focus {
          background-color: #7c010a;
          transition: all 0.2s;
          -webkit-transition: all 0.2s; }
      .zoomed .zoomed-project button.back {
        display: none;
        left: 0;
        color: #f1faee;
        background-color: #e63946;
        transition: all 0.2s;
        -webkit-transition: all 0.2s; }
        .zoomed .zoomed-project button.back:hover, .zoomed .zoomed-project button.back:focus {
          background-color: #003366;
          transition: all 0.2s;
          -webkit-transition: all 0.2s; }
    .zoomed .zoomed-project .details {
      margin-top: 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      max-width: 1500px; }
      .zoomed .zoomed-project .details .description {
        margin: 0 auto;
        -webkit-box-flex: 3;
        -ms-flex: 3;
        flex: 3;
        position: relative;
        font-size: 18px;
        padding: 0 30px; }
        .zoomed .zoomed-project .details .description h3 {
          width: 100%;
          margin-bottom: 5px;
          color: #003366;
          font-size: 1.8rem;
          font-weight: 300;
          /*light*/ }
        .zoomed .zoomed-project .details .description .date {
          margin-bottom: 5px;
          padding-left: 35px;
          font-size: 1rem;
          font-weight: 300;
          /*italic*/
          background-image: url("../img/icons/calendar.svg");
          background-repeat: no-repeat;
          background-size: contain;
          white-space: nowrap; }
        .zoomed .zoomed-project .details .description p {
          width: 100%;
          font-size: 100%;
          white-space: break-word; }
    .zoomed .zoomed-project ul {
      padding: 0 30px;
      margin-bottom: 30px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      color: #003366;
      font-weight: light;
      font-size: 22px;
      border-left: 3px solid #003366; }
      .zoomed .zoomed-project ul li {
        color: #363636;
        font-weight: normal;
        font-size: 16px; }
        .zoomed .zoomed-project ul li:before {
          content: '\2015';
          color: #e63946;
          font-size: 20px;
          margin-right: 7px; }
    .zoomed .zoomed-project .view {
      padding-top: 15px;
      padding-left: 15%;
      padding-bottom: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      width: 100%; }
      .zoomed .zoomed-project .view a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100px;
        height: 50px;
        font-size: 24px;
        text-transform: uppercase;
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }
        .zoomed .zoomed-project .view a.live {
          color: #003366;
          border: 1px solid #003366; }
          .zoomed .zoomed-project .view a.live:hover, .zoomed .zoomed-project .view a.live:focus {
            background-color: #003366;
            color: #f1faee;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }
        .zoomed .zoomed-project .view a.code {
          margin-left: 30px;
          color: #e63946;
          border: 1px solid #e63946; }
          .zoomed .zoomed-project .view a.code:hover, .zoomed .zoomed-project .view a.code:focus {
            background-color: #e63946;
            color: #f1faee;
            transition: all 0.3s;
            -webkit-transition: all 0.3s; }

.contact {
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 1200px) {
    .contact {
      margin-left: 15px;
      padding-bottom: 30px; } }
  @media only screen and (max-width: 805px) {
    .contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .contact h2 {
    padding-top: 30px;
    padding-bottom: 10px; }
  .contact .lead {
    font-size: 24px; }
  .contact p {
    font-size: 20px;
    padding-top: 5px; }
  .contact a {
    display: block;
    color: #e63946;
    font-weight: bold;
    transition: all 0.3s;
    -webkit-transition: all 0.3s; }
    @media only screen and (max-width: 1200px) {
      .contact a {
        display: inline; } }
    .contact a:hover, .contact a:focus {
      color: #7c010a;
      text-decoration: underline;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
  .contact .contact-form {
    padding-right: 100px; }
    @media only screen and (max-width: 1200px) {
      .contact .contact-form {
        padding-right: 30px; } }
    @media only screen and (max-width: 805px) {
      .contact .contact-form {
        padding: 0; } }
  .contact form {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media only screen and (max-width: 805px) {
      .contact form {
        margin: 0; } }
    .contact form p {
      margin-bottom: 30px;
      -ms-flex-item-align: end;
      align-self: flex-end;
      font-size: 20px; }
      @media only screen and (max-width: 805px) {
        .contact form p {
          margin: 15px auto;
          -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center; } }
    .contact form label {
      margin-top: 15px;
      text-align: right; }
      .contact form label span {
        margin-top: -5px; }
    .contact form input, .contact form textarea {
      margin-left: 15px;
      padding: 15px;
      width: 500px;
      background-color: #a8dadc;
      outline: 1px solid #a8dadc;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
      .contact form input:hover, .contact form input:focus, .contact form textarea:hover, .contact form textarea:focus {
        outline: 1px solid #003366;
        transition: all 0.5s;
        -webkit-transition: all 0.5s; }
    .contact form input {
      height: 60px; }
      @media only screen and (max-width: 1200px) {
        .contact form input {
          height: 40px; } }
    .contact form textarea {
      padding-top: 5px;
      vertical-align: top;
      height: 180px; }
      @media only screen and (max-width: 1200px) {
        .contact form textarea {
          height: 100px; } }
    .contact form button {
      height: 60px;
      width: 230px;
      background-color: #e63946;
      color: #f1faee;
      font-weight: bold;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-transition: all 0.3s; }
      .contact form button:hover, .contact form button:focus {
        background-color: #7c010a;
        color: #f1faee;
        transition: all 0.3s;
        -webkit-transition: all 0.3s; }

.links {
  padding-left: 100px;
  border-left: 6px solid #003366; }
  @media only screen and (max-width: 1200px) {
    .links {
      padding-left: 40px; } }
  @media only screen and (max-width: 920px) {
    .links {
      padding: 0 20px; } }
  @media only screen and (max-width: 805px) {
    .links {
      width: 100%;
      padding: 0;
      padding-bottom: 30px;
      border: 0; } }
  @media only screen and (max-width: 805px) {
    .links ul {
      text-align: center; } }
  .links li {
    margin: 30px 0; }
    @media only screen and (max-width: 805px) {
      .links li {
        display: inline-block;
        margin: 15px 0;
        margin-right: 15px; } }
    .links li a {
      display: block;
      color: #003366;
      font-size: 24px;
      font-weight: normal;
      background-repeat: no-repeat;
      background-size: contain;
      padding-left: 60px;
      white-space: nowrap; }
      @media only screen and (max-width: 805px) {
        .links li a {
          padding-left: 45px; } }
      .links li a:hover, .links li a:focus {
        color: #003366;
        text-decoration: underline; }
      .links li a.cv {
        background-image: url(../img/icons/cv.svg);
        color: #e63946;
        text-transform: uppercase; }
        .links li a.cv:hover, .links li a.cv:focus {
          color: #7c010a;
          text-decoration: underline; }
      .links li a.github {
        background-image: url(../img/icons/gh.svg); }
      .links li a.linkedin {
        background-image: url(../img/icons/li.svg); }
      .links li a.fb {
        background-image: url(../img/icons/fb.svg); }

body > footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 60px;
  text-align: center;
  font-size: 18px;
  color: #f1faee;
  background-color: #003366; }
  body > footer span {
    padding: 0 5px;
    color: #e63946; }
