
$defaultTextColor: #363636;
$mainColor: #003366;
$mediumColor: #457b9d;
$lightColor: #a8dadc;
$whites: #f1faee;
$accentColor: #e63946;
$accentHover: #7c010a;

$gradientOverlay: rgba(0, 51, 102, 0.4), rgba(0, 51, 102, 0.4);

$bodyFont: 'Source Sans Pro', sans-serif;
$headingsFont: 'Lora', serif;

$down320: "only screen and (max-width: 320px)";
$down520: "only screen and (max-width: 520px)";
$down665: "only screen and (max-width: 665px)";
$down768: "only screen and (max-width: 768px)";
$down805: "only screen and (max-width: 805px)";
$up920: "only screen and (min-width: 920px)";
$down920: "only screen and (max-width: 920px)";
$down1200: "only screen and (max-width: 1200px)";
$up1200: "only screen and (min-width: 1200px)"; 
$ratio16-9: "screen and (min-aspect-ratio: 16/9)";
$ratio3-2: "screen and (min-aspect-ratio: 3/2)";

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

.hidden {
  display: none;
}

@-webkit-keyframes drop {
  0% {
    top: 5px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 5px;
  }
}
@keyframes drop {
  0% {
    top: 5px;
  }
  50% {
    top: 10px;
  }
  100% {
    top: 5px;
  }
}


@-webkit-keyframes load {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load {
  0%,
  80%,
  100% {
    -webkit-box-shadow: 0 2.5em 0 -1.3em;
            box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    -webkit-box-shadow: 0 2.5em 0 0;
            box-shadow: 0 2.5em 0 0;
  }
}

@-webkit-keyframes fadeRight {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@-webkit-keyframes fadeInRight {
  0% {
    right: -1000px;
  }
  100% {
    right: 0;
  }
}

@keyframes fadeInRight {
  0% {
    right: -500px;
  }
  100% {
    right: 0;
  }
}

@mixin fadeInRight {
  -webkit-animation-name: fadeInRight;
          animation-name: fadeInRight;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}