
$defaultTextColor: #363636;
$alternativeTextColor: #5d5d5d;
$mainColor: #003366;
$mediumColor: #457b9d;
$linksColor: #a8dadc;
$backgroundColor: #f1faee;
$accentColor: #e63946;

$gradientOverlay: rgba(0, 51, 102, 0.4), rgba(0, 51, 102, 0.4);