
$defaultTextColor: #363636;
$alternativeTextColor: #5d5d5d;
$mainColor: #003366;
$mediumColor: #457b9d;
$linksColor: #a8dadc;
$backgroundColor: #f1faee;
$accentColor: #e63946;
$accentHover: #7c010a;

$gradientOverlay: rgba(0, 51, 102, 0.4), rgba(0, 51, 102, 0.4);

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */

}