@import "settings";

* {
	margin: 0;
	padding: 0;	
	-webkit-box-sizing: border-box;	
	        box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	list-style: none;
	text-decoration: none;
}

body {
	color: $defaultTextColor;
    font-family: $bodyFont;
    font-size: 20px;
    line-height: 1.5;

    @media #{$down665} {
    	font-size: 16px;
    }
	@media #{$down320} {
		font-size: 14px;
	}

	&.sidepage {
		overflow: hidden;

		.mobile-menu {
			display: none;
		}
	}
}

h1 {
	color: $whites;
    font-family: $headingsFont;
    font-size: 60px;
	
	a {
		color:inherit;
	}
	@media #{$down1200} {
		font-size: 46px;
	}

	@media #{$down665} {
		font-size: 38px;
	}
}

h2 {
	padding: 3.2rem 30px;
	color: $mainColor;
    font-family: $headingsFont;
    font-size: 48px;

    @media #{$down1200} {
		font-size: 44px;
	}
	@media #{$down320} {
		font-size: 30px;
	}
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.line {
	opacity: 0;
	margin-top: -2px;
	position: fixed;
	height: 8px;
	width: 20px;
	background-color: $accentColor;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	z-index: 99;

	@media #{$down920} {
		display: none;
	}
}

.canvas {
	width: 100%;
	height: 100vh;
}


.fixed-menu {
	position: fixed;
	width: 100%;
	z-index: 15;

	&.scrolled {
		background-color: rgba(0, 51, 102, 0.9);
		-webkit-transition: background-color 0.3s; 
		transition: background-color 0.3s;
		@media #{$down370} {
			background-color: $mainColor;
		}

		 a {
			&.active, &:hover, &:focus {
				color: $accentColor;
				-webkit-transition: color 0.2s; 
				transition: color 0.2s;
			}
		}
	}

nav {
	height: 90px;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	 -webkit-box-pack: center;
	     -ms-flex-pack: center;
	         justify-content: center;

	.fixed-logo {
		position: absolute;
		left: 30px;
		display: none;
		height: inherit;
    	opacity: 0;
    	@include fadeIn;	

    	@media #{$down370} {
    		left: 5px;
    	}

    	a {
    		height: inherit;
    		display: -webkit-box;
    		display: -ms-flexbox;
    		display: flex;
    		-webkit-box-align: center;
    		    -ms-flex-align: center;
    		        align-items: center;
    	}

		h2 {
			padding: 0;
			color: $whites;
			font-size: 34px;
			transition: all 0.3s;
	    	-webkit-transition: all 0.3s;

	    	@media #{$down520} {
	    		font-size: 24px;
	    	}
	    	@media #{$down370} {
	    		font-size: 20px;
	    	}
		}
		p {
			color: $accentColor;
			text-transform: uppercase;
			margin: -5px 2px;
			font-size: 16px;
			transition: all 0.3s;
	    	-webkit-transition: all 0.3s;
	    	@media #{$down520} {
	    		font-size: 14px;
	    	}
	    	@media #{$down320} {
	    		display: none;
	    	}
		}
	}

	/* Dropdown button */
	.toggler {
		margin-right: 30px;
		position: relative;
		right: 0;
		width: 60px;
		height: 45px;
		-ms-flex-item-align: end;
		    align-self: flex-end;

		-webkit-transform: rotate(0deg);
		transform: scale(0.8) rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		background: transparent;
		cursor: pointer;
		z-index: 50;

		@media #{$up920} {
			display: none;
		}

		@media #{$down320} {
			-webkit-transform: scale(0.6);
			        transform: scale(0.6);
			margin-right: 0;
		}

		&:hover > *, &:focus > * {
				background-color: $accentHover;
		}

		span {
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background-color: $accentColor;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			transition: .25s ease-in-out;

			&:nth-child(1) {
				top: 0px;
			}

			&:nth-child(2), &:nth-child(3){
				top: 18px;
			}
			&:nth-child(4) {
				top: 36px;
			}
		}

		&.open span{
			&:nth-child(1) {
				top: 18px;
				width: 0%;
				left: 50%;
			}

			&:nth-child(2) {
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}

			&:nth-child(3) {
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
			}

			&:nth-child(4) {
			  top: 18px;
			  width: 0%;
			  left: 50%;
			}
		}
	}

    ul {
    	position: absolute;
    	right: 15px;
    	z-index: 40;
    	height: inherit;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;

			@media #{$down920}{
				display: none;
			}


		li {
			margin: 0 15px;
			padding-top: 8px;
			display: inline-block;
			height: 100%;
	    		
			a {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				width: 100%;
				height: 100%;
				color: $whites;
				transition: all 0.3s;
	    		-webkit-transition: all 0.3s;

				&.active, &:hover, &:focus {
					color: $lightColor;
					text-decoration: underline;
					transition: all 0.3s;
	    			-webkit-transition: all 0.3s;
				}
				
				&.special {
					color: $accentColor;

					&:hover, &:focus {
						color: $accentHover;
						text-decoration: underline;
					}
				}


			}
		}
	}


	ul.dropped {    		
		position: fixed;  
		display: -webkit-box;	  
		display: -ms-flexbox;	  
		display: flex;  		
		right: 0;
		top: 0;
		height: 100vh;
		width: 40%;
		background-color: $mainColor;  
		transition: all 0.3s;
		-webkit-transition: all 0.3s;  	
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column; 
		-webkit-box-pack: center; 
		    -ms-flex-pack: center; 
		        justify-content: center;  	
		@include fadeInRight;	

    	@media #{$down920} and (min-height: 800px) {
    		padding-top: 90px;
			-webkit-box-pack: start;
			    -ms-flex-pack: start;
			        justify-content: flex-start;
			}

    		@media #{$down768} {
    				width: 70%;
			}

			li {
    			width: 100%;
    			height: auto;
    			text-transform: uppercase;

    			a {
    				padding: 20px 40px;
    				display: block;
    				width: 100%;
    				height: 100%;

    				@media #{$down320} {
    					padding: 10px 40px;
    				}
    				

    				&.active {
    					position: relative;
    					background-color: $accentColor;
    					color: $mainColor;
    					font-weight: bold;
    					
    				}
    			}
    		}
		}
	}
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100vh;
	background: {
		color: $mainColor;
		image: 
			linear-gradient($gradientOverlay), 
			url('../img/background.png'); 
		position: center;
		repeat: no-repeat;
		size: cover;
	}

	.welcome > a, .thanks > a {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		height: 60px;
		width: 200px;
		border: 3px solid $whites;
		color: $whites;
		transition: all 0.3s;
	    -webkit-transition: all 0.3s;
	    z-index: 10;

		@media #{$down665} {
			font-size: 18px;
			height: 60px;
			width: 180px;
		}

		@media #{$down520} {
			font-size: 16px;
			height: 55px;
			width: 140px;
		}

		@media #{$down320} {
			font-size: 14px;
			height: 50px;
			width: 120px;
		}

		&:hover, &:focus {
			background-color: rgba(255, 255, 255, 0.2);
			transition: all 0.3s;
	    	-webkit-transition: all 0.3s;
		}
	}

	.welcome {
		width: 1170px;
		padding-left: 10px;

	    @media #{$down370} {
	    	text-align: center;
	    	padding: 0;
		}
			    	

		.welcome-logo {
			position: relative;
			display: inline-block;
			padding-left: 15px;
			-webkit-transition: all 1s;
			transition: all 1s;
	    	-webkit-transition: all 0.7s;
	    	z-index: 10;
		    @media #{$down370} {
		    	padding: 0;
			}
			a:focus {
				display: inline-block;
				outline: 1px solid $whites;
			}

	    	h1 {
	    		transition: all 0.3s;
			    -webkit-transition: all 0.3s;

			    @media #{$down370} {
					font-size: 30px;
				}
	    	}

			p {
				margin-left: 10px;
				color: $accentColor;
				font-size: 28px;
				text-transform: uppercase;
				transition: all 0.3s;
		    	-webkit-transition: all 0.3s;

		    	@media #{$down1200} {
					margin-left: 0;
				}
				@media #{$down665} {
					font-size: 20px;
				}
			}
		}

		& > a {
			margin-left: 30px;
			margin-top: 30px;	

			@media #{$down370} {
				margin: 20px auto;
			}
		}		
	}

	.mouse-icon {
		position: absolute;
		bottom: 0;
		text-align: center;
		margin-bottom: 80px;
		border: 2px solid #000;
		border-radius: 16px;
		height: 40px;
		width: 24px;
		display: block;
		border-color: $whites;
		z-index: 10;
		opacity: 0.7;
		background: transparent;
		-webkit-transform: scale(1.5);
		        transform: scale(1.5);
		cursor: pointer;

		@media #{$down520} {
    		margin-bottom: 30px;
    		-webkit-transform: scale(1.1);
    		        transform: scale(1.1);
    	}

		&:hover, &:focus {
			background-color: rgba(255, 255, 255, 0.3);
		}

	}

	.mouse-icon .wheel {
		-webkit-animation-name: drop;
		-webkit-animation-duration: 2s;
		-webkit-animation-timing-function: linear;
		-webkit-animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-play-state: running;
		-webkit-animation-name: drop;
		      animation-name: drop;
		-webkit-animation-duration: 2s;
		      animation-duration: 2s;
		-webkit-animation-timing-function: linear;
		      animation-timing-function: linear;
		-webkit-animation-delay: 0s;
		      animation-delay: 0s;
		-webkit-animation-iteration-count: infinite;
		      animation-iteration-count: infinite;
		-webkit-animation-play-state: running;
		      animation-play-state: running;
	}

	.mouse-icon .wheel {
		position: relative;
		border-radius: 10px;
		background-color: $whites;
		width: 3px;
		height: 8px;
		top: 4px;
		margin-left: auto;
		margin-right: auto;
	}

	.thanks {
		position: relative;
		text-align: center;
		z-index: 10;

		h2 {
			font-size: 60px;
			color: $whites;
			padding: 10px;

			@media #{$down768} {
				font-size: 42px;
			}

			@media #{$down768} {
				font-size: 24px;
			}
		}

		p {
			font-size: 26px;
			color: $accentColor;
			@media #{$down768} {
				font-size: 16px;
			}
		}

		a {
			margin: 25px auto;
		}
		
	}

}

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-box;
	display: flex;

	@media #{$down665} {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.photo {
		height: inherit;
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;
		width: 470px;
		background-color: $mainColor;
		background: {
			image: url('../img/photo.jpg');
			size: cover;
			position: center center;
			repeat: no-repeat;
		}

		@media #{$down665} {
			height: 350px;
			width: 100%;
			-webkit-box-flex: 1;
			    -ms-flex: auto;
			        flex: auto;
			background-position: center -170px;
			-webkit-box-ordinal-group: 6;
			    -ms-flex-order: 5;
			        order: 5;
		}

		@media #{$down520} {
			background-position: center -75px;
		}

		@media #{$down320} {
			background-position: center center;
			height: 320px;
		}
}

	section {
		margin: 0 10px 0 30px;
		        -webkit-box-flex: 2;
		            -ms-flex: 2;
		                flex: 2;
		-webkit-box-ordinal-group: 2;
		    -ms-flex-order: 1;
		        order: 1;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;

		@media #{$down665} {
			margin: 10px;
		}

		h2 {
			@media #{$down1200} {
				padding: 30px 0;
			}
			@media #{$down665} {
				padding: 20px 0;
			}
		}

		p {
			margin-left: 130px;

			@media #{$down1200} {
				margin-left: 70px;
			}
			@media #{$down768} {
				margin-left: 40px;
			}
			@media #{$down665} {
				margin-left: 25px;
				font-size: 18px;
			}
			@media #{$down320} {
				font-size: 16px;
				margin-left: 0;
			}
		}

		footer {
			-ms-flex-item-align: end;
			    align-self: flex-end;
				@media #{$down665} {
					-ms-flex-item-align: center;
					    -ms-grid-row-align: center;
					    align-self: center;
				}

			a {
				margin: 3.5rem 0 3.5rem 2rem;
				margin-left: 2rem;
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-inline-box;
				display: -ms-inline-flexbox;
				display: inline-flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				width: 170px;
				height: 60px;
				font-size: 18px;
				font-weight: bold;
				text-transform: uppercase;
						transition: all 0.5s;
			   		 -webkit-transition: all 0.5s;
			
				@media #{$down1200} {
					margin: 30px 15px;
				}

				@media #{$down520} {
					white-space: nowrap;
					margin: 20px 5px 0;
					height: 55px;
					width: 120px;
					font-size: 14px;
				}
				@media #{$down370} {
					width: 105px;
				}
			}

			a:first-child {
				background-color: $lightColor;
				color: $mainColor;
				outline: 2px solid $lightColor;

				@media #{$down370} {
					margin-left: 0;
				}
				&:hover, &:focus {
					background-color: $mainColor;
					color: $whites;
						transition: all 0.5s;
			   		 -webkit-transition: all 0.5s;
		    		outline: 2px dotted $mediumColor;
				}
			}

			a:last-child {
				background-color: $accentColor;
				color: $whites;
				outline: 2px solid $accentColor;
				@media #{$down370} {
					margin-right: 0;
				}
				&:hover, &:focus {
					background-color: $accentHover;
					color: $whites;
						transition: all 0.5s;
			   		 -webkit-transition: all 0.5s;
			   		 outline: 2px dotted $accentColor;
				}
			}
		}
	}
}

.skills {
	padding-bottom: 3.2rem;
	background: {
		image: 
			linear-gradient(rgba(168, 218, 220, 0.45), rgba(168, 218, 220, 0.45)), 
			url('../img/backgroundskills.png');
		blend-mode: overlay; 
		color: #d0e7e8;
		size: cover;
		position: center center;
	}
	@media screen and (min-aspect-ratio: 3/2) {
		height: auto;
	}

	@media #{$down1200} {
		height: auto;
	}


	h2 {
		padding: 1.5rem 30px;
		margin: 0 auto;
		display: block;
		max-width: 1170px;

		@media #{$down665} {
			text-align: center;
			padding: 20px 0;
		}
	}

	.container {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;

		@media #{$down665} {
			display: inline-block;
		}
	}

	.column {
		-webkit-box-flex: 1;
		    -ms-flex: 1;
		        flex: 1;

		@media #{$down665} {
			padding: 0 30px 30px;
			float: left;
		}

    	@media #{$down370} {
    		padding: 0 10px 30px;
    	}
    	
		h3 {
			padding-bottom: 10px;
			padding-left: 60px;
			color: $mainColor;
			font-size: 1.8rem;

			@media #{$down920} {
				font-size: 26px;
				padding-left: 40px;
			}

			@media #{$down920} {
				font-size: 22px;
				padding-left: 10px;
			}

			@media #{$down665} {
				font-size: 26px;
			}

			@media #{$down320} {
				font-size: 22px;
			}
		}

		dl {
			margin-left: 100px;
			@media #{$down920} {
				margin-left: 60px;
			}
			@media #{$down768} {
				margin-left: 15px;
			}
		}

		dt {
			color: $mainColor;
			font-weight: bold;

			@media #{$down665} {
				font-size: 20px;
			}

			@media #{$down320} {
				font-size: 18px;
			}

			&:before {
				content: '\2015';
				color: $accentColor;
				font-size: 30px;
				margin-right: 7px;
				@media #{$down665} {
					font-size: 24px;
				}

				@media #{$down320} {
					font-size: 16px;
				}
			}				

			span {
				color: $defaultTextColor;
				font-size: 18px;
				font-weight: normal;

			}
		}
		dd {
			color: $defaultTextColor;
			font-size: 18px;
			font-weight: normal;
			margin-left: 60px;
			padding-bottom: 10px;

			@media #{$down920} {
				margin-left: 40px;
				word-wrap: break-word;
			}
			@media #{$down768} {
				margin-left: 25px;
				padding-bottom: 5px;

			}
			&:before {
				content: " - ";
			}
		}
	}
}

.portfolio {
	margin-bottom: 60px;
	max-width: 1170px;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto auto auto;
	grid-template-columns: 1fr 1fr 1fr;

	@media #{$down920} {
		width: 100%;	
	  	-ms-grid-columns: (minmax(240px, 1fr))[auto-fill];
	      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
	}

	@media #{$down805} {
		margin: 0;
	}

	.aboutProjects {
		padding: 30px;
		-ms-grid-column: 1;
		-ms-grid-column-span: 2;
		grid-column: 1 / span 2;

	    @media #{$down920} {
	    	grid-column: 1 / -1;	
	    }

	    @media #{$down370} {
			padding: 15px;
		}
	

		h2 {
			padding: 10px 0;
	    }

	    p {
	    	font-size: 18px;
	    }

	}
    	a {
    		display: block;
    	}

	.project {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		overflow: hidden;
		transition: all 0.3s;
    	-webkit-transition: all 0.3s;
    	cursor: pointer;


		.image-wrapper {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
				transition: all 0.3s;
		    	-webkit-transition: all 0.3s;
			overflow: hidden;
		}

		&:after {
			background: {
				color: transparent;	
				repeat: no-repeat;
				position: center center;
			}				
			content: '\A';		    
			position: absolute;
			top: 0; 
		    left:0;
		    width: 100%; 
		    height: 100%;
			transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		}

		&:hover:after, &:focus:after {	
			background: {
				color: rgba(0, 51, 102, 0.8);	
				image: url('../img/icons/magnifier.svg');
				repeat: no-repeat;
				position: center center;
				size: 20%;
			}
		    transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		}

		&:nth-child(even):hover:after, &:nth-child(even):focus:after {
			background: {
				color: rgba(230, 57, 70, 0.6);	
				image: url('../img/icons/magnifier.svg');
				repeat: no-repeat;
				position: center center;
				size: 20%;
			}
		    transition: all 0.5s;
		    -webkit-transition: all 0.5s;
		}

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
		   	object-fit: cover;
			transition: all 0.3s;
	    	-webkit-transition: all 0.3s;


		}
	}

	#project1 img {
		height: 310px;

    	@media #{$down920} {
    		height: 100%;
    	}
	}
}

.zoomed {
	position: fixed;
	padding: 60px;
	width: 100%;
	height: 100vh;	
	background-color: rgba(69, 123, 157, 0.4);	
	z-index: 35;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
    display: none;

	@media #{$down805} {
		padding: 10px;
	}

    button {
		padding: 20px;
	    height: 80px;
		font-size: 30px;
		cursor: pointer;
		transition: all 0.2s;
	    -webkit-transition: all 0.2s;
		color: $whites;
		background-color: $mainColor;			
		z-index: 40;
		border: 2px solid $mainColor;

		@media #{$down805} {
			height: 60px;
			padding: 0 10px;
		}
		@media #{$down768} {
			position: absolute;
		}
		@media #{$down370} {
			padding: 5px;
			font-size: 20px;
		}
		&.prev {
			left: 0;
		}

		&.next {
			right: 0;
		}


    	&:hover, &:focus {
			background-color: $accentHover;
			transition: all 0.2s;
		    -webkit-transition: all 0.2s;
		    border: 2px dotted $accentColor;
		}
    }

	.zoomed-project {
		padding: 20px;
		position: relative;
		 display: -webkit-box;	 
		 display: -ms-flexbox;	
		 display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		background-color: #ffffff;
		overflow: hidden;
		max-height: 95vh;

		img {
			max-width: 80%;
			height: auto;
			cursor: pointer;

			@media #{$ratio3-2} {
				max-width: 40%;
			}

			@media #{$down320} {
				display: none;
			}

			&.clicked {
				max-width: 100%;

				@media #{$ratio3-2} {
					max-width: 70%;
				}
			}
		}

		button {
			position: absolute;
			top: 0;			
			padding: 20px;
		    width: 80px;
		    height: 80px;
			font-size: 30px;
			cursor: pointer;
			transition: all 0.2s;
		    -webkit-transition: all 0.2s;

			@media #{$down768} {
				padding: 0;
				width: 50px;
				height: 50px;
			}

		    &.close {			
			   	right: 0;
				color: $whites;
				background-color: $mainColor;
		    	&:hover, &:focus {
					background-color: $accentHover;
					transition: all 0.2s;
				    -webkit-transition: all 0.2s;
				}
		    }

		    &.back {
		    	display: none;
		    	left: 0;
				color: $whites;
				background-color: $accentColor;
						transition: all 0.2s;
			    -webkit-transition: all 0.2s;

		    	&:hover, &:focus {
					background-color: $mainColor;
					transition: all 0.2s;
				    -webkit-transition: all 0.2s;
				}
		    }
		}

		.details {
			margin-top: 10px;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			max-width: 1500px;

			@media #{$down665} {
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
			}

			.description {
				margin: 0 auto;
				-webkit-box-flex: 3;
				    -ms-flex: 3;
				        flex: 3;
				position: relative;
				font-size: 18px;
				padding: 0 30px;

				@media #{$down805} {
					font-size: 16px;
				}
				@media #{$down370} {
					padding: 0;
					font-size: 14px;
				}
				
			    h3 {
			    	width: 100%;
			    	margin-bottom: 5px;
			    	color: $mainColor;
			    	font-size: 1.8rem;
			    	font-weight: 300; /*light*/

					@media #{$down805} {
						font-size: 24px;
					}

					@media #{$down320} {
						font-size: 18px;
					}
			    }

				.date {
					margin-bottom: 5px;
					padding-left: 35px;
					font-size: 1rem;
					font-weight: 300; /*italic*/
					background-image: url('../img/icons/calendar.svg');
					background-repeat: no-repeat;
					background-size: contain;
					white-space: nowrap;
					@media #{$down665} {
						font-size: 14px;
					}
					@media #{$down520} {
						display: none;
					}
				}

				p {
					width: 100%;
					font-size: 100%;
					white-space: break-word;
				}
			}
		}

		.technologies {
			padding: 0 30px;
			margin-bottom: 30px;
			-webkit-box-flex: 1;
			    -ms-flex: 1;
			        flex: 1;
			border-left: 3px solid $mainColor;	

			@media #{$down665} {
				margin: 15px 0;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				border: 0;
				width: 60%;

				ul {
					display: -ms-grid;
					display: grid;
					-ms-grid-row: 1;
					-ms-grid-column: 1;
					-ms-grid-columns: auto auto;
					    grid-template-columns: auto auto;					
				}
			}

			@media #{$down520} {
				display: none;
			}

			h4 {
				color: $mainColor;
				font-weight: light;
				font-size: 22px;

				@media #{$down665} {
					font-size: 18px;
					grid-column: 1 / -1;
				}
			}


			li {
				color: $defaultTextColor;
				font-weight: normal;
				font-size: 16px;
				white-space: nowrap;

				@media #{$down665} {
					font-size: 14px;
					padding-right: 15px;
				}

				&:before {
					content: '\2015';
					color: $accentColor;
					font-size: 20px;
					margin-right: 7px;
				}	
			}
		}

		.view {
			padding: 15px 0 15px 15%;
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;	
			-webkit-box-pack: start;	
			    -ms-flex-pack: start;	
			        justify-content: flex-start;
			width: 100%;

			@media #{$down665} {
				padding: 0;
				padding-left: 30px;
			}

			@media #{$down370} {
				padding-left: 0;
			}

			a {
				display: -webkit-box;
				display: -ms-flexbox;
				display: flex;
				-webkit-box-align: center;
				    -ms-flex-align: center;
				        align-items: center;
				-webkit-box-pack: center;
				    -ms-flex-pack: center;
				        justify-content: center;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-transform: uppercase;
				transition: all 0.3s;
			    -webkit-transition: all 0.3s;

				@media #{$down665} {
					height: 40px;
					font-size: 18px;
				}

				@media #{$down520} {
					margin-top: 10px;
					width: 80px;
				}

				&.live {
					color: $mainColor;
					outline: 1px solid $mainColor;

					&:hover, &:focus {
						background-color: $mainColor;
						outline: 2px dotted $mediumColor;
						color: $whites;
						transition: all 0.3s;
					    -webkit-transition: all 0.3s;
					}
				}

				&.code {
					margin-left: 30px;
					color: $accentColor;
					outline: 1px solid $accentColor;

					&:hover, &:focus {
						background-color: $accentColor;
						outline: 2px dotted $accentColor;
						color: $whites;
						transition: all 0.3s;
			    		-webkit-transition: all 0.3s;
					}
				}
			}
		}
	}
}



.contact {
	padding-left: 30px;
	padding-bottom: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
		@media #{$down1200} {
			margin: 0 15px;
			padding-bottom: 30px;
		}

		@media #{$down805} {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			 padding-left: 0;
		}
	h2 {
		padding: 30px 0 10px;

	}

	.lead {
		font-size: 24px;
		@media #{$down520} {
			font-size: 20px;
		}
	}
	p {
		font-size: 20px;
		padding-top: 5px;
		@media #{$down520} {
			font-size: 18px;
		}
	}

	a {
		display: block;
		color: $accentColor;
		font-weight: bold;
		transition: all 0.3s;
	    -webkit-transition: all 0.3s;
		@media #{$down1200} {
			display: inline;
		}
		@media #{$down370} {
			word-wrap: break-word;
		}

		&:hover, &:focus {
			color: $accentHover;
			text-decoration: underline;
			transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		}
	}

	.contact-form {
		padding-right: 100px;

		@media #{$down1200} {
			padding-right: 30px;
		}
		@media #{$down805} {
			padding: 0;
		}
	}

	form {
		margin-top: 30px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
			@media #{$down805} {
				margin: 0;
			}

			@media #{$down520} {
				display: block;
			}
		p {
			margin-bottom: 30px;
			-ms-flex-item-align: end;
			align-self: flex-end;
			font-size: 20px;

			@media #{$down805} {
				margin: 15px auto;
				-ms-flex-item-align: center;
				    -ms-grid-row-align: center;
				    align-self: center;
			}
		}

		label {
			display: inline-block;
			text-align: right;
			
			span {
				margin-top: -5px;
			}
		}

		input, textarea {
			margin-left: 15px;
			padding: 15px;
			width: 500px;	
			background-color: $lightColor;
			outline: 2px solid $lightColor;
			transition: all 0.5s;
		    -webkit-transition: all 0.5s;

			@media #{$down920} {
				width: 450px;
			}

			@media #{$down520} {
				margin: 0;
				padding: 0;
				width: 100%;
			}
		
			&:hover, &:focus {
				outline: 2px solid $mainColor;
				transition: all 0.5s;
			    -webkit-transition: all 0.5s;
			}
		}

		input {
			height: 60px;

			@media #{$down1200} {
				height: 40px;
			}
		}

		textarea {
			padding-top:5px;
			vertical-align: top;
			height: 180px;

			@media #{$down1200} {
				height: 100px;
			}
		}

		button {
			height: 60px;
			width: 230px;
			background-color: $accentColor;
			color: $whites;
			font-weight: bold;
			text-transform: uppercase;
			cursor: pointer;
			transition: all 0.3s;
		    -webkit-transition: all 0.3s;
		    outline: 2px solid $accentColor;

			@media #{$down370} {
				width: 100%;
			}	

			&:hover, &:focus {
				background-color: $accentHover;
				outline: 2px dotted $accentColor;	
				color: $whites;
				transition: all 0.3s;
			    -webkit-transition: all 0.3s;
			}
		}
	}
}

.links {
	padding-left: 100px;
	border-left: 6px solid $mainColor;

	@media #{$down1200} {
		padding-left: 40px;
	}

	@media #{$down920} {
		padding: 0 20px;
	}

	@media #{$down805} {
		width: 100%;
		padding: 0;
		border: 0;
	}

	h2 {
		padding-left: 0;
	}

	ul {
		@media #{$down805} {
			text-align: center;
		}
		@media #{$down665} {
			display: -ms-grid;
			display: grid;
			-ms-grid-columns: 1fr 1fr;
			    grid-template-columns: 1fr 1fr;
			text-align: left;
		}
	}

	li {
		margin: 40px 0;

		@media #{$down805} {
			display: inline-block;
			margin: 15px 0 15px;
			margin-right: 15px;
		}

		a {
			display: block;
			color: $mainColor;
			font-size: 24px;
			font-weight: normal;background-repeat: no-repeat;
			background-size: contain;
			padding-left: 60px;
			white-space: nowrap;

			@media #{$down920} {
				font-size: 22px;
			}

			@media #{$down805} {
				padding-left: 45px;
			}

			@media #{$down665} {
				padding-left: 35px;
				margin: 5px;
				font-size: 20px;
			}
			@media #{$down370} {
				font-size: 16px;
				margin: 0;
			}

			&:hover, &:focus {
				color: $mainColor;
				text-decoration: underline;
			}	

			&.cv {
				background-image: url(../img/icons/cv.svg);
				color: $accentColor;
				text-transform: uppercase;
				
				&:hover, &:focus {
					color: $accentHover;
					text-decoration: underline;
				}
			}

			&.github {
				background-image: url(../img/icons/gh.svg);
			}

			&.linkedin {
				background-image: url(../img/icons/li.svg);
			}	

			&.fb {
				background-image: url(../img/icons/fb.svg);
			}		
		}
	}
}

body > footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 60px;
	text-align: center;
	font-size: 18px;
	color: $whites;
	background-color: $mainColor;

	@media #{$down665} {
		font-size: 14px;
	}

	span {
		padding: 0 5px;
		color: $accentColor;
	}
}

